*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body{
    background-image: url("https://merriam-webster.com/assets/mw/images/article/art-wap-landing-mp-lg/gray-background-7131-96d780fd18d4eaf58a7331d45573204e@1x.jpg");
} */

.container{
    width: 50px;
    margin-left: 17px;
    margin-top: 5px;
    background-image: url("https://merriam-webster.com/assets/mw/images/article/art-wap-landing-mp-lg/gray-background-7131-96d780fd18d4eaf58a7331d45573204e@1x.jpg");
}

/* px rem em % vh vw */

.register{
    width: 100%;
    /* border: 1px solid black; */
    padding: 50px 75px;
    display: flex;
    align-items: center;
}

.register .image{
    padding: 100px
}

.register .image img{
    width: 500px;
    height: 500px;
}
.surname{
    height:40px;
    width:380px;
}
.lastname{
    height:40px;
    width:380px;
}
.email{
    height:40px;
    width:380px;
}
.phonecall{
    height:40px;
    width:380px;
}
.password{
    height:40px;
    width:380px;

}
.signup{
    height:40px;
    width:380px;
    /* position: relative;
    top:70px;
    right:380px; */
    background-color: black;
    color:aliceblue;
}
.dangnhap{
    position:relative;
    left:50px;
}
